/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.site_wrapper {
    width: 85%;
    margin: 0 auto;
}

/* HEADER STYLES */
.header_container {
    position: relative;
    min-height: 47px;
    background-color: yellow;
}
.nav_button_group {
    position: relative;
    float: left;
    margin-top: 10px;
    text-transform: uppercase;
    /*z-index: 2;*/
}
.nav_button_group span {
    margin-left: 19px;
}
.nav_title_branding {
    position: absolute;
    width: 100%;
    /*z-index: 1;*/
    left: 0;
    margin-top: -14px;
    margin-left: -25px;
    text-align: center;
}
.nav_user_tools {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    text-transform: uppercase;
}

.nav_user_tools span {
    margin-left: 6px;
}

/*RIBBON STYLES */
.ribbon {
    position: relative;
    height: 90px;
    margin-bottom: -14px;
    overflow: hidden;
    z-index: 1000030;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #000000;
}
.ribbon .collection {
    position: relative;
    float: left;
    height: 82px;
    list-style-type: none;
    margin-top: 10px;
}
.ribbon .collection-menu {
    position: relative;
    overflow: hidden;
    height: 82px;
    margin: 0;
    padding: 0;
}
.ribbon .collection-menu li {
    float: left;
    width: 240px;
    min-height: 75px;
    margin: 3px 0 5px;
    padding: 0 4px 0 3px;
    list-style-type: none;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
.ribbon .collection-menu li img {
    position: relative;
    margin: 0 10px 0 0;
    width: 65px;
    height: 65px;
    float: left;
}

/* AD STYLES */
.ad {
    min-height: 94px;
    text-align: center;
    margin-left: -30px;
}

.ad_space {
    padding-top: 25px;
}

/* MAIN PAGE STYLES */
.main {
    margin: 30px auto 0;
    width: 70%;
    border-top: 1px solid #000000;
    background-color: lavender;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

.story_header {
    margin-top: -12px;
}

.headline {
    margin-bottom: -12px;
    font-style: italic;
}

.byline_date {
    margin-left: 15px;
}

.byline_links {
    float: right;
}

.image {
    margin-bottom: 45px;
}

.caption {
    max-width: 615px;
    font-size: 0.975rem;
}

.story_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.story_body_main_col {
    width: 705px;
    flex-grow: 0;
    position: relative;
}

.story_text {
    width: 570px;
    margin-left: 75px;
    font-size: 1.0625rem;
    line-height: 1.625rem;
}

/*COMMENTS STYLE*/

.right_col {
    width: 35%;
    float: right;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: aqua;
}

.comments_container {
    height: auto;
    justify-content: space-between;
    display: flex;
    flex-flow: column nowrap;
    max-height: 900px;
    margin-top: 65px;
    margin-bottom: 45px;
    font-size: 0.75rem;
}
.comments {
    flex-shrink: 0;
    width: 360px;
    margin-bottom: 0;
    font-size: 0.825rem;
}

.comments p {
    margin-top: -12px;
}

/*INFLATION GRAPHIC STYLES */
.inflation_container {
    min-width: 720px;
    font-size: 0.95rem;
}
.inflation_graphic {
    width: 80%;
}

/*EMBEDDED VIDEO STYLES */
.video_caption {
    font-size: 0.95em;
}

/*TELESCOPE PHOTO STYLES */
.telescope_pic {
    margin-top: 45px;
    margin-bottom: 45px;
}
.telescope_caption {
    font-size: 0.95em;
}

/*STORY FOOTER-CITATION STYLES*/
.story_footer:before {
    width: 60px;
    content: '';
    display: inline-block;
    height: 1px;
    margin: 0 0 13px 0;
    background-color: #000;
}
.story_footer {
    position: relative;
    margin-top: 24px;
    clear: both;
    width: 570px;
    margin-left: 75px;
}
.story_print_citation {
    font-size: 0.6875rem;
}

/* TRENDING STYLES */
.trending {
    width: 360px;
    display: block;
    float: right;
    clear: right;
    margin: 0 0 45px 30px;
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #b3d4fc;
    font-size: 0.875rem;
}

.trending footer {
    border-top: 1px solid #f3f3f3;
    padding-top: 7px;
    font-size: 0.6875rem;
}

/* WHAT'S NEXT SECTION STYLES */
.next {
    width: 705px;
    background-color: lightcoral;
}
.related {
    border-top: 1px solid #000;
    padding-top: 7px;
    /*margin: 0 0 35px 0;*/
    padding: 0;
    margin-bottom: 0;
}
.related header{
    padding: 9px 0 13px 0;
    display: flex;
}
.related_heading {
    float: left;
    font-size: 0.95em;
}
.recommended {
    border-top: 1px solid #000;
    padding-top: 7px;
    /*margin: 0 0 35px 0;*/
    padding: 0;
    margin-bottom: 0;
}
.recommended header{
    padding: 9px 0 13px 0;
    display: flex;
}
.recommended_heading {
    float: left;
    font-size: 0.95em;
}
.user_action {
    display: block;
    margin-left: auto;
    float: right;
    font-size: 0.85em;
}
.space_cosmos_stories {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin-bottom: 0;
}
.related_story {
    height: 210px;
    width: 30%;
    margin: 1%;
}
.recommended_stories {
    list-style-type: none;
}
.recommended_story {
    display: inline-block;
    height: 210px;
    width: 30%;
    margin: 1%;
}

/* SITE INDEX STYLES */
.site_index {
    width: 63%;
    margin: 50px auto 0;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    background-color: aquamarine;
    border-top: 2px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.index_header {
    margin-top: -12px;
    font-size: 0.9rem;
}
.index_header p {
    margin-top: 8px;
}
.column {
    width: 165px;
    float: left;
}
.column ul {
    list-style-type: none;
    padding-left: 0;
}
.six_split_layout {
    display: flex;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
